// by the name of ALLAH
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
//400 regular, 500 medium, 600 semibold, 700 bold, 800 extra  bold
.real-regular{
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}
.real-mid{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
.real-semibold{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.real-bold{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
.real-extrabold{
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
}
/*color*/
$head-color: #1aa79c;
$secondary-color1: #AFEBE6;
$secondary-color2: #E9FFFD; 
$place-color: #B5B5B5;
$label-color: #565656;
$bg-color1:  #fff;
$bg-color2: #f5f6f8;
$black-color: #353430;
$menu-color: #f5fafe;


/*common*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  
  background-color: $bg-color1;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: $label-color;
}
p{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none !important;
}
button{
  border: none;
  outline: none;
}
select{
  outline: none !important;
}
.col-gap-0{
  padding-right: 0;
  padding-left: 0;
}
.gray-bg{
  background-color: $bg-color2;
}
.white-bg{
  background-color: $bg-color1;
}
.display-none{
  display: none;
}
.com-box-shaddow{
  -webkit-box-shadow: 5px 8px 16px -7px rgba(181,181,181,1);
  -moz-box-shadow: 5px 8px 16px -7px rgba(181,181,181,1);
  box-shadow: 5px 8px 16px -7px rgba(181,181,181,1);
  border-radius: 2px;
}
.com-input-box-sdw{
  -webkit-box-shadow: 0px 2px 3px -3px #333333;
          box-shadow: 0px 2px 3px -3px #333333;
}
.com-btn-style{
  color: #FFF;
  background-color: $head-color;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
}
.cursor-pointer{
  cursor: pointer;
}
form{
  margin: 0;
  padding: 0;
  width: 100%;
  label,
  input,
  select,
  textarea{
    margin: 0;
    padding: 0;
    width: 100%;
  }
  label{
    color: $black-color;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
  }
  input{
    color: $label-color;
  }
  input,
  select,
  textarea{
    border: 1.5px solid $label-color;
    outline: none;
    appearance: none;
  }
  input:focus,
  select:focus,
  textarea:focus{
    border: 1.5px solid $head-color !important;
  }
  input,
  textarea{
    padding: 4px 17px;
  }
  select{
    padding: 4px 40px 4px 15px;
    appearance: none;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,.21) 0%, rgba(51,51,51,0.15) 60%);
  }
  textarea{
    max-height: 110px;
    min-height: 70px;
  }
}
option{
  font-weight: 500;
  padding: 10px 5px;
  color: $black-color;
}
.my-title{
  padding: 8px 26px;
  color: #FFF;
  font-size: 18px;
  p{
    display: inline-block;
    margin-left: 10px;
  }
  i{
    font-size: 23px;
  }
}
.my-title-bg{
  background: rgb(26,167,156);
  background: linear-gradient(90deg, rgba(26,167,156,1) 24%, rgba(252,252,252,1) 100%);
}
.admin-select-box{
  position: relative;
  img{
    pointer-events: none;
    position: absolute;
    right: 12px;
    top: 9px;
    width: 9px;
    height: auto;
  }
}
button{
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  padding: 3px 15px;
}
.common-btn{
  appearance: none;
  outline: none;
  border-radius: 5px;
  background-color: $head-color;
  border: 1px solid $head-color;
  color: #FFF;
}
.common-hoverable-btn{
  background-color: #FFF;
  color: $label-color;
  border: 1px solid $label-color;
}
.common-hoverable-btn:hover{
  background-color: $head-color;
  color: #FFF;
  border: 1px solid $head-color;
}
.logo{
  max-width: 140px;
}
.menu-icon{
  font-size: 18px;
  color: $label-color;
  span{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
  }
}
.menu-icon:hover{
  color: $head-color;
}
.hr-border{
  height: 1px;
  background-color: $place-color;
  margin: 20px 0px;
}
.my-table{
  margin: 0;
  padding: 0;
  border: 0;
  th,td{
    margin: 0;
    padding: 0;
    vertical-align: middle;
    padding: 8px;
    min-width: 150px;
  }
  th{
    background-color: $head-color;
    color: #FFF;
    font-weight: 600;
  }
  tr:nth-child(odd){
    background-color: $secondary-color1;
  }
  tr:nth-child(even){
    background-color: $secondary-color2;
  }
}
.edit-btn{
  margin: 5px;
  color: #FFF;
  padding: 3px 6px;
  background-color: #5cb85c;
  &:hover{
    color: #FFF;
  }
}
.delete-btn{
  margin: 5px;
  color: #FFF;
  padding: 3px 6px;
  background-color: #d9534f;
  &:hover{
    color: #FFF;
  }
}
/*common end*/
/* footer */

/*menu*/
#my-side-menu{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
}
.btn-sidebar-show {
  position: initial;
  left: initial;
  top: initial;
  border-radius: initial;
  width: initial;
}
.my-menu-close{
 position: absolute;
 right: 5px;
 background-color: $label-color;
 top: 5px;
 width: 25px;
 height: 25px;
 border-radius: 50%;
 color: #FFF !important;
 display: flex;
 justify-content: center;
 align-items: center;
 cursor: pointer;
 &:hover{
   color: $head-color !important;
 }
}
.logo-menu{
  padding: 30px 50px;
}
.menu-box{
  width: 100%;
}
.my-menu-items{
  a{
    display: block;
  }
}
.active-menu{
  color: $head-color;
}
.menu-child{
  display: none;
}
.catet-rotate{
  transform: rotate(180deg);
}
.company-help{
  margin: 10px 0px;
  font-weight: 400;
  color: $head-color;
  font-size: 14px;
  p{
    display: flex;
    align-items: center;
    i{
      margin-right: 5px;

    }
  }
  p:nth-child(1){
    color: $label-color;
    margin-bottom: 5px;
  }
}

/*top bar*/
#header{
  a{
    color: $label-color;
  }
}
.activity
{
  font-size: 18px;
  &:hover{
    color: $head-color;
  }
}
.notification{
  font-size: 18px;
  position: relative;
  &:hover{
    color: $head-color;
  }
  i{
    position: absolute;
    left: -2px;
    top: -2px;
    font-size: 10px;
    color: #26a837; 
  }
}
.activity-bar{
  width: 285px;
  padding: 20px 15px;
}
.act-name{
  font-weight: 600;
}
.act-type{
  font-weight: 500;
}
.act-item{
  margin-top: 8px;
  font-weight: 400;
  font-size: 15px;
  span{
    font-weight: 600;
  }
}
.act-time{
  font-weight: 500;
  font-size: 12px;
  color: $place-color;
}
.act-divider{
  width: 100%;
  height: 1px;
  background-color: $place-color;
  margin: 10px 0px;
}
.admin-section{
  img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
}
.admin-self{
  margin-top: 0px;
}
.admin-name{
  line-height: 1.2;
  p{

    flex: 0 0 90%;
    padding: 0px 5%;
  }
  p:nth-child(1){
    font-weight: 600;
    font-size: 16px;
  }
  p:nth-child(2){
    font-weight: 400;
    font-size: 12px;
    color: $place-color;
  }
}
.admin-options{
  padding: 8px;
  border-radius: 50%;
  background-color: $place-color;
}
.search-bar{
  position: relative;
  font-size: 14px;
  i{
    color: $label-color;
  }
  input{
    border-radius: 30px;
    border-color: $label-color;
    background-color: $bg-color2;
    padding-left: 30px;
  }
  button{
    position: absolute;
    left: 11px;
    top: 5px;
    padding: 0;
    background-color: transparent;
  }
}

/*site setting*/
#site-setting{
  margin-top: 50px;
  margin-bottom: 70px;
  form{
    label{
      margin-top: 15px;
      margin-bottom: 5px;
    }
  }
}
.set-lft-grp{
  padding-right: 15px;
}
.set-rht-grp{
  padding-left: 15px;
}
.set-btn-row{
  margin-top: 25px; 
  button{
    margin-left: 10px;
  }
}
.logo-upload{
  position: relative;
  width: 200px;
  padding-top: 100px;
  input{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
    appearance: none;
    opacity: 0;
    cursor: pointer;
  }
}
.logo-frame{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.upload-size-hints{
  font-weight: 400;
  font-size: 14px;
  float: right;
  margin-bottom: 20px;
}
.upload-size-hints{
  font-weight: 400;
  font-size: 14px;
  float: left;
  margin-top: 10px;
  margin-bottom: 5px;
}
/*site setting end*/
/* change Password */
#change-password{
  margin-top: 50px;
  margin-bottom: 300px;
  label{
    margin-top: 15px;
    margin-bottom: 5px;
  }
}
.cng-lft{
  padding-right: 15px;
}
.cng-rht{
  padding-left: 15px;
}
/* change Password end */
/* amdin roles */
#create-admin,
#advertisement,
#create-category,
.very-common-form{
  margin-top: 50px;
  label{
    margin-top: 15px;
    margin-bottom: 5px;
  }
}
#admin-role-table{
  margin-top: 75px;
  margin-bottom: 100px;
}
/* amdin roles end*/
/*album*/
.upload-title{
  margin: 20px 0px 5px 0px;
  font-size: 18px;
  span{
    color: $black-color;
    font-weight: 800;
  }
}
.album-upload{
  i,p{
    display: inline-block;
    margin: 5px 0px;
  }
  text-align: center;
  width: 100%;
  background-color: #f5fafe;
  padding: 20px;
  border-radius: 6px;
  border: 1.5px dashed $label-color;
  position: relative;
  overflow: hidden;
  input{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
  }
  i{
    font-size: 55px;
    color: #c9e7ff;
  }
}
.choose-btn{
  padding: 5px 15px;
  color: #FFF;
  background-color: #1592e6;
  border-radius: 5px;
}
.album-gap{
  padding: 8px;
}

.demo-img-box{
  position: relative;
  padding-top: 100%;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  a{
    position: absolute;
    z-index: 100;
    top: 10px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: #1592e6;
    color: #FFF;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  a:nth-child(2){
    right: 36px;
  }
  a:nth-child(3){
    right: 10px;
  }
}
.album-box{
  flex: 0 0 31%;
}
.album-table-box{
  border-radius: 6px;
  background-color: #f5fafe;
}
.album-details-table{
  td,th{
    text-align: left;
    vertical-align: top;
  }
  tr:nth-child(1){
    font-size: 18px;
    color: $black-color;
  }
  tr{
    display: block;
    margin: 10px 0px;
    font-size: 15px;
    td:nth-child(1){
      min-width: 150px;
      font-weight: 500;
    }
    td:nth-child(2){
      font-weight: 600;
    }
  }
}
.albums{
  color: $black-color;
  &:hover{
    color: $black-color;
  }
  margin-top: 16px;
  position: relative;
  padding-top: 65%;
  border-radius: 6px;
  overflow: hidden;
  img, div{
    position: absolute;
  }
  img{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  div{
    padding: 8px;
    background-color: #f5fafe;
    width: 100%;
    bottom: 0;
    left: 0;
  }
}
.albums-details{
  p:nth-child(1){
    font-weight: 500;
  }
  p:nth-child(2){
    font-size: 13px;
  }
}
/*album end*/
/* advertisement */
#advertisement{
  margin-bottom: 150px;
}
/* advertisement end */
/* create category */
#create-category{
  margin-bottom: 150px;
}
/* create category end*/
/* module */
#module-table{
  margin-top: 70px;
}
.module-table-box{
  margin-top: 25px;
  margin-bottom: 150px;
}
/* module end*/
/* permission */
.module{
  margin: 2px 10px 2px 0px;
  padding: 3px;
  font-size: 15px;
  border-radius: 6px;
  border: 1px solid $black-color;
  p,a{
    display: inline-block;
  }
}
.role-table-box{
  margin-top: 70px;
  margin-bottom: 150px;
}
/* permission end*/
/* menu setting */
#menu-set-table{
  margin-top: 70px;
  margin-bottom: 150px;
  input{
    appearance: auto;
  }
  input, select{
    color: $black-color;
    width: 100%;
    border: 1px solid $label-color;
    outline: none;
    margin: 0;
    padding: 3px 5px;
    
    &:focus{
      border: 1px solid $head-color !important;
    }
  }
  a, button{
    display: inline-block;
  }
}
.min-width-initial{
  min-width: initial !important;
}
.menu-sorting{
  z-index: 20000;
  color: #5cb85c;
  span{
    font-size: 20px;
  }
  &:hover{
    color: $head-color;
  }
}
/* menu setting end */
/* dashboard */
.data-point{
  width: 100%;
  padding: 15px 10px;
  position: relative;
  background-color: $menu-color;
  border-radius: 12px;
  p:nth-child(1){
    font-weight: 500;
    color: $label-color;
  }
  p:nth-child(2){
    font-weight: 500;
    font-size: 25px;
    color: $black-color;
  }
}
.data-point-border{
  position: absolute;
  width: 90%;
  bottom: 0;
  left: 5%;
  height: 4px;
  border-radius: 5px;
}
.d-p-border-color1{
  background-color: #8fc6fe;
}
.d-p-border-color2{
  background-color: #faa4a5;
}
.d-p-border-color3{
  background-color: #71fecf;
}
.d-p-border-color4{
  background-color: #fdd7aa;
}
.chart-title{
  p:nth-child(1){
    font-weight: 500;
    color: $label-color;
  }
  p:nth-child(2){
    font-weight: 500;
    font-size: 25px;
    color: $black-color;
  }
}
.pie-eatch{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  border-top: 2px solid $head-color;
  border-bottom: 2px solid $head-color;
  margin-top: -2px;
  padding-top: 2px;
}
.pie-eatch-bg{
  background-color: rgba(241, 243, 249, 0.39);
}
.circle-style{
  width: 15px;
  height: 15px;
  border: 4px solid transparent;
  border-radius: 50%;
  position: absolute;
  top: 3px;
}
.circle-color1{
  border: 4px solid #2DCE98;
}
.circle-color2{
  border: 4px solid #333333;
}
.circle-color3{
  border: 4px solid #3C99F5;
}
.circle-color4{
  border: 4px solid #F53C56;
}
.circle-color5{
  border: 4px solid #11CDEF;
}
.circle-color6{
  border: 4px solid #C9302C;
}
.circle-color7{
  border: 4px solid #FEB969;
}
.circle-color8{
  border: 4px solid #F969FE;
}


.pie-eatch-row1{
  margin: 14px 0px;
  position: relative;
  p,div{
      display: inline-block;
      color: $label-color;
      margin: 0;
      padding: 0;
  }
  p:nth-child(2){
      font-weight: 500;
      font-size: 15px;
      margin-left: 20px;
      span{
          font-weight: 400;
          font-size: 11px;
          margin-top: 6px;
          display: inline-block;
      }
  }
  p:nth-child(3){
      font-weight: 600;
      font-size: 15px;
      float: right;
  }
}

/* dashboard end */
/* admin login */ 
.login-panel{
  background-color: $bg-color2;
  -webkit-box-shadow: 1px -1px 2px -1px #1aa79b6b;
  box-shadow: 1px -1px 2px -1px #1aa79b6b;
  border-radius: 3px;
}
.admin-login-logo{
  max-width: 167px;
  height: auto;
}

.login-title{
  font-size: 1.5625rem;
  color: $head-color;
  font-weight: 600;
}
.login-sub-title{
  font-size: 0.75rem;
  color: $place-color;
  margin-top: .3rem;
  letter-spacing: -0.1px;
}
.admin-login-form{
  input{
      width: 100%;
      font-size: 0.9rem;
      color: $label-color;
      padding: 7px 45px 7px 38px;
      border: 1.5px solid $place-color;
      border-radius: 3px;
      /*margin-top: 7px;*/
      
  }
  
  label{
      font-weight: 600;
      color: $label-color;
      font-size: 0.9rem;
      display: inline-block;
      margin-top: 1rem;
      width: auto;
  }
  
  ::placeholder{
      color: $place-color;
      font-weight: 500;
      font-size: 0.9rem;
  }
  button{
      width: 100%;
      font-weight: 700;
      color: $bg-color1;
      font-size: 1.05rem;
      text-align: center;
      background-color: $head-color;
      border: 0px;
      padding: 8px 0px 8px 0px;
      border-radius: 3px;
      cursor: pointer;
      margin-top: 12px;
      margin-bottom: 12px;
  }
}
.email-box,
.password-box,
.stay-login-box{
    position: relative;
    margin-top: 7px;
}
.email-box,
.password-box{
    input:focus{
        border-color: $label-color;
    }
}
.mail-outline,
.https,
.visibility{
    position: absolute !important;
    margin: 0 !important;
    padding: 0 !important;
    span{
        color: $place-color;
        font-size: 20px;
    }
}
.mail-outline{
  bottom: .2rem;
  left: 13px;
}
.https{
  bottom: .2rem;
  left: 14px;
}
.visibility{
    padding: .28rem !important;
    background: #efefef;
    top: 1.5px;
    right: 1.5px;
    border-radius: 3px;
    cursor: pointer;
    margin: 0 !important;
}
.mycheck{
  width: auto !important;
  display: inline-block !important;
  margin: 0 !important;
  padding: 0 !important;
  appearance: auto !important;
}
.hint{
  width: 100%;
  font-size: .9rem;
  color: $head-color;
  p{
      margin-top: .25rem;
      display: inline-block;
      cursor: pointer;
  }
}
.admin-social-icons{
  list-style-type: none;
  margin: 0;
  padding: 0;
  li{
    display: inline-block;
    margin: .3rem;
    a{
      
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      &:hover{
        background-color: $head-color;
      }
      width: 23px;
      height: 23px;
      border-radius: 50%;
      color: #FFFFFF;
    }
  }
}
.facebook-custom{
  background: #3B5998;
}
.google-custom{
  background: #D95032;
}
.linkedin-custom{
  background: #0084B1;
}
/* ################ media query ###################*/
@media all and (min-width: 1200px){

}
@media all and (max-width: 1200px){

}
@media all and (max-width: 992px){
  .admin-self{
    margin-top: 15px;
  }
  .set-lft-grp{
    padding-right: 0;
  }
  .set-rht-grp{
    padding-left: 0;
  }
  .album-box{
    flex: 0 0 100%;
  }
  .albums{
    padding-top: 32%;
  }
}
@media all and (max-width: 768px){
  .cng-lft{
    padding-right: 0;
  }
  .cng-rht{
    padding-left: 0;
  }
}
@media all and (max-width: 576px){
  .albums{
    padding-top: 65%;
  }
  
}
/* ################ media query end ###################*/

