@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
.real-regular {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.real-mid {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

.real-semibold {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.real-bold {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

.real-extrabold {
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
}

/*color*/
/*common*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #565656;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none !important;
}

button {
  border: none;
  outline: none;
}

select {
  outline: none !important;
}

.col-gap-0 {
  padding-right: 0;
  padding-left: 0;
}

.gray-bg {
  background-color: #f5f6f8;
}

.white-bg {
  background-color: #fff;
}

.display-none {
  display: none;
}

.com-box-shaddow {
  -webkit-box-shadow: 5px 8px 16px -7px #b5b5b5;
  box-shadow: 5px 8px 16px -7px #b5b5b5;
  border-radius: 2px;
}

.com-input-box-sdw {
  -webkit-box-shadow: 0px 2px 3px -3px #333333;
  box-shadow: 0px 2px 3px -3px #333333;
}

.com-btn-style {
  color: #FFF;
  background-color: #1aa79c;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
}

.cursor-pointer {
  cursor: pointer;
}

form {
  margin: 0;
  padding: 0;
  width: 100%;
}

form label,
form input,
form select,
form textarea {
  margin: 0;
  padding: 0;
  width: 100%;
}

form label {
  color: #353430;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

form input {
  color: #565656;
}

form input,
form select,
form textarea {
  border: 1.5px solid #565656;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

form input:focus,
form select:focus,
form textarea:focus {
  border: 1.5px solid #1aa79c !important;
}

form input,
form textarea {
  padding: 4px 17px;
}

form select {
  padding: 4px 40px 4px 15px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: white;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.21)), color-stop(60%, rgba(51, 51, 51, 0.15)));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.21) 0%, rgba(51, 51, 51, 0.15) 60%);
}

form textarea {
  max-height: 110px;
  min-height: 70px;
}

option {
  font-weight: 500;
  padding: 10px 5px;
  color: #353430;
}

.my-title {
  padding: 8px 26px;
  color: #FFF;
  font-size: 18px;
}

.my-title p {
  display: inline-block;
  margin-left: 10px;
}

.my-title i {
  font-size: 23px;
}

.my-title-bg {
  background: #1aa79c;
  background: -webkit-gradient(linear, left top, right top, color-stop(24%, #1aa79c), to(#fcfcfc));
  background: linear-gradient(90deg, #1aa79c 24%, #fcfcfc 100%);
}

.admin-select-box {
  position: relative;
}

.admin-select-box img {
  pointer-events: none;
  position: absolute;
  right: 12px;
  top: 9px;
  width: 9px;
  height: auto;
}

button {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  padding: 3px 15px;
}

.common-btn {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  border-radius: 5px;
  background-color: #1aa79c;
  border: 1px solid #1aa79c;
  color: #FFF;
}

.common-hoverable-btn {
  background-color: #FFF;
  color: #565656;
  border: 1px solid #565656;
}

.common-hoverable-btn:hover {
  background-color: #1aa79c;
  color: #FFF;
  border: 1px solid #1aa79c;
}

.logo {
  max-width: 140px;
}

.menu-icon {
  font-size: 18px;
  color: #565656;
}

.menu-icon span {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.menu-icon:hover {
  color: #1aa79c;
}

.hr-border {
  height: 1px;
  background-color: #B5B5B5;
  margin: 20px 0px;
}

.my-table {
  margin: 0;
  padding: 0;
  border: 0;
}

.my-table th, .my-table td {
  margin: 0;
  padding: 0;
  vertical-align: middle;
  padding: 8px;
  min-width: 150px;
}

.my-table th {
  background-color: #1aa79c;
  color: #FFF;
  font-weight: 600;
}

.my-table tr:nth-child(odd) {
  background-color: #AFEBE6;
}

.my-table tr:nth-child(even) {
  background-color: #E9FFFD;
}

.edit-btn {
  margin: 5px;
  color: #FFF;
  padding: 3px 6px;
  background-color: #5cb85c;
}

.edit-btn:hover {
  color: #FFF;
}

.delete-btn {
  margin: 5px;
  color: #FFF;
  padding: 3px 6px;
  background-color: #d9534f;
}

.delete-btn:hover {
  color: #FFF;
}

/*common end*/
/* footer */
/*menu*/
#my-side-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
}

.btn-sidebar-show {
  position: initial;
  left: initial;
  top: initial;
  border-radius: initial;
  width: initial;
}

.my-menu-close {
  position: absolute;
  right: 5px;
  background-color: #565656;
  top: 5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  color: #FFF !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.my-menu-close:hover {
  color: #1aa79c !important;
}

.logo-menu {
  padding: 30px 50px;
}

.menu-box {
  width: 100%;
}

.my-menu-items a {
  display: block;
}

.active-menu {
  color: #1aa79c;
}

.menu-child {
  display: none;
}

.catet-rotate {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.company-help {
  margin: 10px 0px;
  font-weight: 400;
  color: #1aa79c;
  font-size: 14px;
}

.company-help p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.company-help p i {
  margin-right: 5px;
}

.company-help p:nth-child(1) {
  color: #565656;
  margin-bottom: 5px;
}

/*top bar*/
#header a {
  color: #565656;
}

.activity {
  font-size: 18px;
}

.activity:hover {
  color: #1aa79c;
}

.notification {
  font-size: 18px;
  position: relative;
}

.notification:hover {
  color: #1aa79c;
}

.notification i {
  position: absolute;
  left: -2px;
  top: -2px;
  font-size: 10px;
  color: #26a837;
}

.activity-bar {
  width: 285px;
  padding: 20px 15px;
}

.act-name {
  font-weight: 600;
}

.act-type {
  font-weight: 500;
}

.act-item {
  margin-top: 8px;
  font-weight: 400;
  font-size: 15px;
}

.act-item span {
  font-weight: 600;
}

.act-time {
  font-weight: 500;
  font-size: 12px;
  color: #B5B5B5;
}

.act-divider {
  width: 100%;
  height: 1px;
  background-color: #B5B5B5;
  margin: 10px 0px;
}

.admin-section img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.admin-self {
  margin-top: 0px;
}

.admin-name {
  line-height: 1.2;
}

.admin-name p {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 90%;
          flex: 0 0 90%;
  padding: 0px 5%;
}

.admin-name p:nth-child(1) {
  font-weight: 600;
  font-size: 16px;
}

.admin-name p:nth-child(2) {
  font-weight: 400;
  font-size: 12px;
  color: #B5B5B5;
}

.admin-options {
  padding: 8px;
  border-radius: 50%;
  background-color: #B5B5B5;
}

.search-bar {
  position: relative;
  font-size: 14px;
}

.search-bar i {
  color: #565656;
}

.search-bar input {
  border-radius: 30px;
  border-color: #565656;
  background-color: #f5f6f8;
  padding-left: 30px;
}

.search-bar button {
  position: absolute;
  left: 11px;
  top: 5px;
  padding: 0;
  background-color: transparent;
}

/*site setting*/
#site-setting {
  margin-top: 50px;
  margin-bottom: 70px;
}

#site-setting form label {
  margin-top: 15px;
  margin-bottom: 5px;
}

.set-lft-grp {
  padding-right: 15px;
}

.set-rht-grp {
  padding-left: 15px;
}

.set-btn-row {
  margin-top: 25px;
}

.set-btn-row button {
  margin-left: 10px;
}

.logo-upload {
  position: relative;
  width: 200px;
  padding-top: 100px;
}

.logo-upload input {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  opacity: 0;
  cursor: pointer;
}

.logo-frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.upload-size-hints {
  font-weight: 400;
  font-size: 14px;
  float: right;
  margin-bottom: 20px;
}

.upload-size-hints {
  font-weight: 400;
  font-size: 14px;
  float: left;
  margin-top: 10px;
  margin-bottom: 5px;
}

/*site setting end*/
/* change Password */
#change-password {
  margin-top: 50px;
  margin-bottom: 300px;
}

#change-password label {
  margin-top: 15px;
  margin-bottom: 5px;
}

.cng-lft {
  padding-right: 15px;
}

.cng-rht {
  padding-left: 15px;
}

/* change Password end */
/* amdin roles */
#create-admin,
#advertisement,
#create-category,
.very-common-form {
  margin-top: 50px;
}

#create-admin label,
#advertisement label,
#create-category label,
.very-common-form label {
  margin-top: 15px;
  margin-bottom: 5px;
}

#admin-role-table {
  margin-top: 75px;
  margin-bottom: 100px;
}

/* amdin roles end*/
/*album*/
.upload-title {
  margin: 20px 0px 5px 0px;
  font-size: 18px;
}

.upload-title span {
  color: #353430;
  font-weight: 800;
}

.album-upload {
  text-align: center;
  width: 100%;
  background-color: #f5fafe;
  padding: 20px;
  border-radius: 6px;
  border: 1.5px dashed #565656;
  position: relative;
  overflow: hidden;
}

.album-upload i, .album-upload p {
  display: inline-block;
  margin: 5px 0px;
}

.album-upload input {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
}

.album-upload i {
  font-size: 55px;
  color: #c9e7ff;
}

.choose-btn {
  padding: 5px 15px;
  color: #FFF;
  background-color: #1592e6;
  border-radius: 5px;
}

.album-gap {
  padding: 8px;
}

.demo-img-box {
  position: relative;
  padding-top: 100%;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
}

.demo-img-box img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.demo-img-box a {
  position: absolute;
  z-index: 100;
  top: 10px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: #1592e6;
  color: #FFF;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.demo-img-box a:nth-child(2) {
  right: 36px;
}

.demo-img-box a:nth-child(3) {
  right: 10px;
}

.album-box {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 31%;
          flex: 0 0 31%;
}

.album-table-box {
  border-radius: 6px;
  background-color: #f5fafe;
}

.album-details-table td, .album-details-table th {
  text-align: left;
  vertical-align: top;
}

.album-details-table tr:nth-child(1) {
  font-size: 18px;
  color: #353430;
}

.album-details-table tr {
  display: block;
  margin: 10px 0px;
  font-size: 15px;
}

.album-details-table tr td:nth-child(1) {
  min-width: 150px;
  font-weight: 500;
}

.album-details-table tr td:nth-child(2) {
  font-weight: 600;
}

.albums {
  color: #353430;
  margin-top: 16px;
  position: relative;
  padding-top: 65%;
  border-radius: 6px;
  overflow: hidden;
}

.albums:hover {
  color: #353430;
}

.albums img, .albums div {
  position: absolute;
}

.albums img {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.albums div {
  padding: 8px;
  background-color: #f5fafe;
  width: 100%;
  bottom: 0;
  left: 0;
}

.albums-details p:nth-child(1) {
  font-weight: 500;
}

.albums-details p:nth-child(2) {
  font-size: 13px;
}

/*album end*/
/* advertisement */
#advertisement {
  margin-bottom: 150px;
}

/* advertisement end */
/* create category */
#create-category {
  margin-bottom: 150px;
}

/* create category end*/
/* module */
#module-table {
  margin-top: 70px;
}

.module-table-box {
  margin-top: 25px;
  margin-bottom: 150px;
}

/* module end*/
/* permission */
.module {
  margin: 2px 10px 2px 0px;
  padding: 3px;
  font-size: 15px;
  border-radius: 6px;
  border: 1px solid #353430;
}

.module p, .module a {
  display: inline-block;
}

.role-table-box {
  margin-top: 70px;
  margin-bottom: 150px;
}

/* permission end*/
/* menu setting */
#menu-set-table {
  margin-top: 70px;
  margin-bottom: 150px;
}

#menu-set-table input {
  -webkit-appearance: auto;
     -moz-appearance: auto;
          appearance: auto;
}

#menu-set-table input, #menu-set-table select {
  color: #353430;
  width: 100%;
  border: 1px solid #565656;
  outline: none;
  margin: 0;
  padding: 3px 5px;
}

#menu-set-table input:focus, #menu-set-table select:focus {
  border: 1px solid #1aa79c !important;
}

#menu-set-table a, #menu-set-table button {
  display: inline-block;
}

.min-width-initial {
  min-width: initial !important;
}

.menu-sorting {
  z-index: 20000;
  color: #5cb85c;
}

.menu-sorting span {
  font-size: 20px;
}

.menu-sorting:hover {
  color: #1aa79c;
}

/* menu setting end */
/* dashboard */
.data-point {
  width: 100%;
  padding: 15px 10px;
  position: relative;
  background-color: #f5fafe;
  border-radius: 12px;
}

.data-point p:nth-child(1) {
  font-weight: 500;
  color: #565656;
}

.data-point p:nth-child(2) {
  font-weight: 500;
  font-size: 25px;
  color: #353430;
}

.data-point-border {
  position: absolute;
  width: 90%;
  bottom: 0;
  left: 5%;
  height: 4px;
  border-radius: 5px;
}

.d-p-border-color1 {
  background-color: #8fc6fe;
}

.d-p-border-color2 {
  background-color: #faa4a5;
}

.d-p-border-color3 {
  background-color: #71fecf;
}

.d-p-border-color4 {
  background-color: #fdd7aa;
}

.chart-title p:nth-child(1) {
  font-weight: 500;
  color: #565656;
}

.chart-title p:nth-child(2) {
  font-weight: 500;
  font-size: 25px;
  color: #353430;
}

.pie-eatch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-top: 2px solid #1aa79c;
  border-bottom: 2px solid #1aa79c;
  margin-top: -2px;
  padding-top: 2px;
}

.pie-eatch-bg {
  background-color: rgba(241, 243, 249, 0.39);
}

.circle-style {
  width: 15px;
  height: 15px;
  border: 4px solid transparent;
  border-radius: 50%;
  position: absolute;
  top: 3px;
}

.circle-color1 {
  border: 4px solid #2DCE98;
}

.circle-color2 {
  border: 4px solid #333333;
}

.circle-color3 {
  border: 4px solid #3C99F5;
}

.circle-color4 {
  border: 4px solid #F53C56;
}

.circle-color5 {
  border: 4px solid #11CDEF;
}

.circle-color6 {
  border: 4px solid #C9302C;
}

.circle-color7 {
  border: 4px solid #FEB969;
}

.circle-color8 {
  border: 4px solid #F969FE;
}

.pie-eatch-row1 {
  margin: 14px 0px;
  position: relative;
}

.pie-eatch-row1 p, .pie-eatch-row1 div {
  display: inline-block;
  color: #565656;
  margin: 0;
  padding: 0;
}

.pie-eatch-row1 p:nth-child(2) {
  font-weight: 500;
  font-size: 15px;
  margin-left: 20px;
}

.pie-eatch-row1 p:nth-child(2) span {
  font-weight: 400;
  font-size: 11px;
  margin-top: 6px;
  display: inline-block;
}

.pie-eatch-row1 p:nth-child(3) {
  font-weight: 600;
  font-size: 15px;
  float: right;
}

/* dashboard end */
/* ################ media query ###################*/
@media all and (max-width: 992px) {
  .admin-self {
    margin-top: 15px;
  }
  .set-lft-grp {
    padding-right: 0;
  }
  .set-rht-grp {
    padding-left: 0;
  }
  .album-box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
  .albums {
    padding-top: 32%;
  }
}

@media all and (max-width: 768px) {
  .cng-lft {
    padding-right: 0;
  }
  .cng-rht {
    padding-left: 0;
  }
}

@media all and (max-width: 576px) {
  .albums {
    padding-top: 65%;
  }
}

/* ################ media query end ###################*/
/*# sourceMappingURL=style.css.map */